<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head}"></head>

<body>

<div th:replace="~{fragments/navbar :: navbar}">

  Navbar
</div>
<div class="container" >
  <h2 class="text-center text-white">Welcome to FixMyRide</h2>
</div>

<div class="row">
  <div class="col">
    <input type="text" class="form-control" placeholder="First name" aria-label="First name">
  </div>
  <div class="col">
    <input type="text" class="form-control" placeholder="Last name" aria-label="Last name">
  </div>
</div>


<div>
  <footer class="footer bg-transparent  py-2">
    <th:block th:include="~{/fragments/footer}"></th:block>
  </footer>
</div>

</body>
</html>

